<html><head><title>BBC RSS</title>
<link rel="stylesheet" type="text/css" href="/css/smart-green.css" media="screen">
</head><body>
<div class="smart-green">
<h1>
	<% if (stateCode) { %>
		<%= stateCode+': ' %>
	<% } // end if stateCode %>
	Feed not found
</h1>
<p>
<a class="button" href="javascript:history.back();">Go Back</a>
</div>
</body></html>